body {
    font-family: 'Helvetica';
    font-size: 12px;
    margin: 0px;
}

#header {
    font-size: 24px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;

    position: fixed;
    z-index: 1;
}

.node text {
    font: 10px sans-serif;
}

path.link {
    fill: none;
    stroke-width: 1.5px;
}

li {
    font-family: Arial;
    font-size: 12px;
}

#pbsPane {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 13px;
    padding: 5px;
    z-index: 50;
}

#content {
    padding-top: 30px;
}

select {
    border-width: 1;
    border-style: solid;
}

.uploadDiv {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainTableData {
    padding-right: 20px;
    padding-left: 20px
}

.controlsDivHeader {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.descriptor {
    padding-top: 5px;
    padding-left: 5px;
    width: 98%;
}

.controlsDiv {
    height: 250px;
}

.pValueSliderDiv {
    height: 20px;
}

.controlsDivInsert {
    overflow: scroll;
    height: 200px;
    background-color: #ffffff;
    color: #000000;
}

#goTermSelect {
    width: 400px;
    min-width: 400px;
}

.basicBox {
    /*border-radius: 3px 3px 3px 3px;*/
    margin: 3px 5px 3px 5px;
    padding: 0px 5px 5px 5px;
}

.overlayContainer {
    /*border-radius: 15px;*/
    border-style: solid;
    position: absolute;
    z-index: 50;
    border-color: darkgrey;
    background-color: #f9f7f7;
    color: #000000;
}

.helpAlertContainer {
    border-style: solid;
    border-width: 1px;
    position: absolute;
    z-index: 50;
    border-color: #9f9f9f;
    background-color: #eae8e8;
    color: #000000;
    padding: 10px 10px 10px 10px;
}

.smallToggle {
    border: 0px;
    background: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size:12px;
}

.overlay {
    position: relative;
    z-index: 50;
}

.infoButton {
    width:17px;
}
.heatMapRect {
    stroke: none;
}

.heatMapLine {
    stroke-width: 2
}

.closeButton {
    display: block;
    float: right;
    width: 42px;
    height: 42px;
    background: url(../images/close.png) no-repeat center center;
}

.questionButton {
    text-decoration: none;
    vertical-align:middle;
}

#selectionInfoPanel {
    font-size: 12px;
}

.wrapper-dropdown { /* not sure what uses this - jquery ui? */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 12px 15px;
    background: #fff;
    /*border-radius: 5px;*/
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 10px;
    cursor: default;
    border-color: lightsteelblue;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background: lightsteelblue;
}

.ui-slider-horizontal {
    height: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -3px;
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
