body {
    background-color: #000;
    color: #fff;
}

.node text {
    fill: #fff;
}

path.link {
    stroke: #ccc;
}

.vertical-bar {
    background-color: #000000;
    width: 2px;
}

li {
    color: #ffffff;
}

.uploadDiv {
    border-color: #ffffff;
}

#toggleFilters {
    color: #fff;
}

.smallToggle{
    color: #fff;
}
#pbsPane {
    color: #000;
    background-color: #fff;
    border-color: #696969;
}

select {
    border-color: #ceff59;
}

circle {
    stroke: #555;
}

button {
    border-color: #696969;
}

.basicBox {
    /*background-color: rgba(204, 176, 203, 0.6);*/
    background-color: #777777
}

#header {
    border-bottom: 1px solid #ffffff;
    color: #540b44;
    background-color: #ddd;
}

#overlayContainer {
    background-color: #eeeeee;
}

.collapsedCircle {
    fill: lightsteelblue;
}

.circleLine {
    fill: #ccc;
}

.filterMode {
    fill: #ff8456;
}

.hasOvrTermData {
    fill: #ceff59;
}

.heatMapRect {
    fill: #ff6644;
}

.heatMapLine {
    stroke: #aaaaaa;
}
