select {
    border-color: #696969;
}

.basicBox2 {
    border-style: solid;
    border-color: #656367;
    border-width: 2px;
    margin: 3px 5px 3px 5px;
    padding: 0px 5px 5px 5px;
    background-color: #eee;
}


.basicBoxOld {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #eee;
}

.basicBox {
    background-color: #eee;
}

.vertical-bar {
    background-color: #ffffff;
    width: 2px;
}

#header {
    border-bottom: 1px solid #666666;
    color: #540b44;
    background-color: #ddd;
}

path.link {
    stroke: #ccc;
    stroke-width: 1.5px;
}

li {
    color: #ffffff;
}

circle {
    stroke: #555;
}

#pbsPane {
    color: #000;
    background-color: #fff;
    border-color: #696969;
}

#overlayContainer {
    background-color: #eeeeee;
}

.collapsedCircle {
    fill: lightsteelblue;
}

.circleLine {
    fill: black;
}

.filterMode {
    fill: #ff6644;
}

.hasOvrTermData {
    fill: #aaff11;
}

.heatMapRect {
    fill: #ff6644;
}

.heatMapLine {
    stroke: #aaaaaa;
}

