body {
    font-family: 'Helvetica';
    background: #110f80;
}

.title {
    background: #12611a;
    color: #ffffff;
    font-size: 24px;
    position: relative;
    left: 140px;
    width:800px;
    padding: 20px 20px 20px 20px;
}

.spacer {
    background: #cf8a3b;
    position: relative;
    left: 140px;
    width:840px;
    height: 5px;
}

.page {
    background: #ffffff;
    position: relative;
    left: 140px;
    width:800px;
    padding: 20px 20px 20px 20px;
}

.question {
    color: #ff0000;
    font-size: 14px;
}

.item {
    font-size: 14px;
}

.doneitem {
    font-size: 14px;
    color: #12611a;
    text-decoration: line-through;
}

.category {
    color: #110f80;
    font-size: 20px;
    margin-top: 50px;
}

.subCategory {
    background: #eeeeee;
    padding: 5px 5px 5px 5px;
    font-size: 17px;
    margin-top: 20px;
}