<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <script id="createLegendContainer" type="text/template">
        <div id="legendContainer" class="overlayContainer" style="padding: 5px 5px 5px 5px">
            <b>Node Colors</b>
            <p/>
            <svg width="300" height="20">
                <g transform="translate(9,9)">
                    <circle r="6" style="fill: {{collapsedCircleColor}};"></circle>
                    <text transform="translate(15,5)">Collapsed nodes</text>
                </g>
            </svg>
            <br/>
            <svg width="300" height="30">
                <g transform="translate(9,9)">
                    <circle r="6" style="fill: {{hasOvrTermData}};"></circle>
                    <text transform="translate(15,5)">Nodes that do not contained the</text>
                    <text transform="translate(15,17)">selected genes or terms</text>
                </g>
            </svg>
            <br/>
            <svg width="300" height="30">
                <g transform="translate(9,9)">
                    <circle r="6" style="fill: {{filteredNode}};"></circle>
                    <text transform="translate(15,5)">Nodes containing either selected genes,</text>
                    <text transform="translate(15,17)">or genes associated with selected terms</text>
                </g>
            </svg>
            <br/>
            <svg width="300" height="20">
                <g transform="translate(9,9)">
                    <circle r="6" style="fill: {{manuallyCollapsed}};"></circle>
                    <text transform="translate(15,5)">User-Collapsed Node</text>
                </g>
            </svg>
            <br/>
            <svg width="300" height="30">
                <g transform="translate(9,9)">
                    <circle r="6" style="fill: {{uidSelected}};"></circle>
                    <text transform="translate(15,5)">Nodes selected for the Union/Intersect/Difference</text>
                    <text transform="translate(15,17)">node list comparison</text>
                </g>
            </svg>
            <br/>
            <svg width="300" height="20">
                <g transform="translate(9,9)">
                    <circle r="6" style="fill: {{overrepresented}};"></circle>
                    <text transform="translate(15,5)">Nodes containing enriched selected terms</text>
                </g>
            </svg>
        </div>
    </script>

    <script id="createGoTermList" type="text/template">
        <span id='GOTermSelectDiv' class='controlsDivHeader'>{{termType}} Filter
            <a id="termFilterHelpButton" class="questionButton" href='#'
               onclick='overlay.addHelpAlert(this, "Select term(s) of interest. Will filter the nodes that contain genes that are associated with these terms (in orange) or enriched for that term (in purple)")'>
                    <img src="images/question.png" class="infoButton"/>
                </a>
        </span>

        Search: &nbsp;&nbsp;&nbsp;
        <input id="goTermsFilterInput" style="margin-bottom: 3px;" type="text"
               onkeyup="treeComponents.setGoTermFilterString(document.getElementById('goTermsFilterInput').value);">
        <a id="termFilterSearchHelpButton" class="questionButton" href='#'
           onclick='overlay.addHelpAlert(this, "Type to search for a term of interest")'>
            <img src="images/question.png" class="infoButton"/>
        </a>
        <br/>
        <select id='goTermSelect' size='5' multiple onchange='treeComponents.goTermClicked()'>
            {{#goTerms}}

            <option class='goTermSelectListOption'
                    style='background-color:{{backgroundColor}}' avgPValue='{{avgPValue}}' goTerm='{{goTermId}}'
                    title='{{goTermName}}'>{{goTermNameShort}}
            </option>
            {{/goTerms}}
        </select>
    </script>

    <script id="createGeneList" type="text/template">
        Search: &nbsp;&nbsp;&nbsp;
        <input id="geneListFilterInput" style="margin-bottom: 3px;" type="text"
               onkeyup="treeComponents.setGeneListFilterString(document.getElementById('geneListFilterInput').value);">

        <a id="geneSearchHelpButton" class="questionButton" href='#'
           onclick='overlay.addHelpAlert(this, "Type to search for a gene of interest")'>
            <img src="images/question.png" class="infoButton"/>
        </a>
        <br/>
        <select id='geneSelect' size='5' multiple onchange='treeComponents.geneClicked()'>
            {{#genes}}
            <option class='geneSelectListOption' gene='{{key}}'>{{key}}</option>
            {{/genes}}
        </select>
    </script>

    <script id="createInfoPanel" type="text/template">
        <div class='controlsDivHeader'>Filter Information
            <a id="filterInformationHelpButton" class="questionButton" href='#'
               onclick='overlay.addHelpAlert(this, "Displays any selected gene and/or term filters")'>
                <img src="images/question.png" class="infoButton"/>
            </a>
        </div>
        <div class='controlsDivInsert'>

            {{#hasGenes}}
            <b><i>Selected Genes: </i></b><br/>
            {{/hasGenes}}

            {{#selectedGenes}}
            {{.}}
            <br/>
            {{/selectedGenes}}
            <br/>

            {{#hasGoTerms}}
            <b><i>Selected Terms:</i></b><br/>
            {{/hasGoTerms}}

            {{#selectedGoTerms}}
            {{.}}
            <br/>
            {{/selectedGoTerms}}
            <br/>
        </div>
    </script>

    <script id="createSaveButtonsContainer" type="text/template">
        <div id="saveButtonsContainer" class="overlayContainer" style="width:300px;padding: 0px 20px 20px 20px;">
            <table border='0'>
                <tr>
                    <td width="100%"><span class="controlsDivHeader">Save/Load</span></td>
                    <td><a id="close" class="closeButton" href="#" onclick="overlay.removeSaveOverlay()"></a></td>
                </tr>
            </table>
            <div>
                <div style="padding-top: 2px;">
                    &middot; Save the current filter state - terms and genes:
                    <p id="saveState" style="color:red;">
                        <!-- the reason for Flash is for client-side downloading -->
                        You must have Flash 10 installed to download this file.
                    </p>
                    &middot; Load a previously saved state (this will wipe out current filters):
                    <br/>
                    <input id="upLoadState" type="file" onchange="loader.loadState()"/>

                    <p/>
                    &middot; Save graph in svg image format:
                    <p id="saveSVG" style="color:red;">
                        You must have Flash 10 installed to download this file.
                    </p>
                    <br/>
                </div>
            </div>
        </div>
    </script>


    <script id="createNodeSummaryTooltip" type="text/template">
        <b>{{name}}</b>
        <br/>
        {{#avgPBSValue}}
        <br/>
        Average {{measureType}}: {{avgPBSValue}}
        {{/avgPBSValue}}

        {{#absPBSValue}}
        <br/>
        Maximum Absolute {{measureType}}: {{absPBSValue}}
        {{/absPBSValue}}
        <br/>
        <div>
            {{#hasGoTerms}}
            <br/>{{goTermlength}} Overrepresented Terms
            {{/hasGoTerms}}
            <br/>{{geneLength}} Genes
        </div>
    </script>


    <script id="createNodeTooltip" type="text/template">
        {{#keepUp}}
        <a id="close" class="closeButton" href='#' style='float:right' onclick='tooltips.closePBSInfo()'></a>
        <br/>
        {{/keepUp}}

        <b>{{name}}</b>
        <br/>
        {{#avgPBSValue}}
        <br/>
        Average {{measureType}}: {{avgPBSValue}}
        {{/avgPBSValue}}

        {{#absPBSValue}}
        <br/>
        Maximum Absolute {{measureType}}: {{absPBSValue}}
        {{/absPBSValue}}
        {{#keepUp}}
        <p/>
        <button onclick="collapse.toggleCollapse(staticData.getNodeFromRootByName('{{name}}')); d3.select('div.pbsPane').remove();"
                class='smallToggle'>Expand/Collapse (Shift+Click)
        </button>
        <p/>
        <!--i>Save this information</i-->
        <span id="saveTooltipGenes" style="color:red;'float:right'">
                    You must have Flash 10 installed to download this file.
                </span>&nbsp;&nbsp;&nbsp;
        <input class="clipboard" type="image" src="images/clippy.svg" data-clipboard-text="{{#genePartition}}{{gene_id}} ({{value}})
{{/genePartition}}" width="18" height="18"/> Genes
        <br/>
        <span id="saveTooltipTerms" style="color:red;'float:right'">
                            You must have Flash 10 installed to download this file.
                        </span>&nbsp;&nbsp;&nbsp;
        <input class="clipboard" type="image" src="images/clippy.svg" data-clipboard-text="{{#ovrTerm}}{{desc}} ({{pValue}})
{{/ovrTerm}}" width="18" height="18"/> Terms
        <br/>
        {{/keepUp}}
        <div style="overflow: scroll;height:500px">
            {{#hasGoTerms}}
            <p/>{{goTermlength}} Overrepresented Terms:
            {{#ovrTerm}}
            <br/>&middot;{{desc}} ({{pValue}})
            {{/ovrTerm}}
            <br/>
            {{/hasGoTerms}}
            <br/>{{geneLength}} Genes:
            {{#genePartition}}
            <br/>&middot;<a target="#"
                            onclick="controller.openGeneOverlay('{{gene_id}}')">{{gene_id}}</a>
            ({{value}})
            {{/genePartition}}
        </div>
    </script>

    <script id="createNodeTooltipSaveGenes" type="text/template">
        {{geneLength}} Genes:
        {{#genePartition}}
        {{gene_id}} ({{value}})
        {{/genePartition}}
    </script>

    <script id="createNodeTooltipSaveTerms" type="text/template">
        {{goTermlength}} overrepresented Terms:
        {{#ovrTerm}}
        {{desc}} ({{pValue}})
        {{/ovrTerm}}
    </script>

    <script id="createHelpAlertContainer" type="text/template">
        <div id="helpAlertContainer" class="helpAlertContainer">
            {{msg}}
        </div>
    </script>

    <script id="createAlertContainer" type="text/template">
        <div id="alertContainer" class="overlayContainer">
            <table style="margin: 10px 10px 20px 30px; font-weight: bolder">
                <tr>
                    <td width="100%">{{msg}}</td>
                    <td valign="top"><a id="close" class="closeButton" href="#"
                                        onclick="$('#alertContainer').remove();"></a></td>
                </tr>
            </table>
        </div>
    </script>

    <!--script id="createShowClickOptions" type="text/template">
        <button onclick='util.dispatchEvent("showPBSInfo", {{data}})' class='smallToggle'>Show Gene List</button></br>
        <button onclick="collapse.toggleCollapse(staticData.getNodeFromRootByName('{{name}}')); d3.select('div.pbsPane').remove();"
                class='smallToggle'>Expand/Collapse (Shift+Click)
        </button></br>
        <button onclick='d3.select("div.pbsPane").remove();' class='smallToggle'>Close</button></br>
    </script>
    <script id="createNodeTooltipSaveInfo" type="text/template">
        {{goTermlength}} overrepresented Terms:
        {{#ovrTerm}}
        {{desc}} ({{pValue}})
        {{/ovrTerm}}

        {{geneLength}} Genes:
        {{#genePartition}}
        {{gene_id}} ({{value}})
        {{/genePartition}}
    </script-->

    <script id="createFilterByRangeTitle" type="text/template">Filter by Absolute {{measureType}} Range
    </script>

    <script id="createHeatmapContainer" type="text/template">
        <div id="overlayContainer" class="overlayContainer">

            <table>
                <tr>
                    <td valign="top" id="heatMapContainer" width="100%"></td>
                    <td valign="top"><a id="close" class="closeButton" href="#"
                                        onclick="overlay.removeHeatmapOverlay()"></a></td>
                </tr>
            </table>
        </div>
    </script>

    <script id="createGeneContainer" type="text/template">
        <div id="geneContainer" class="overlayContainer"
             style="width:500px;height:1000px;overflow:scroll;top:50px;padding:10px 10px 10px 10px">
            <a id="close" class="closeButton" href="#" onclick="overlay.removeGeneOverlay()"></a>
            <h4>{{gene}}</h4>
            {{#geneInfo}}
            <b>Gene Description:</b> {{geneInfo.Gene_Description}}<br/>
            <b>Gene Symbols:</b> {{geneInfo.Gene_Symbols}}<br/>
            <b>Gene Type:</b> {{geneInfo.Gene_Type}}<br/>
            <b>Gene Model ID:</b> {{geneInfo.Gene_Model_id}}<br/>
            <b>Gene ID:</b> {{geneInfo.Gene_id}}<br/>

            {{/geneInfo}}
            {{#codonAlignments}}
            <h4>Codon Alignments</h4>
            <div style="overflow: scroll;height:400px">
                <pre>{{codonAlignments}}</pre>
            </div>
            {{/codonAlignments}}
            {{#proteinAlignments}}
            <h4>Protein Alignments</h4>
            <div style="overflow: scroll;height:400px">
                <pre>{{proteinAlignments}}</pre>
            </div>
            {{/proteinAlignments}}
        </div>
    </script>

    <script id="createHelpContainer" type="text/template">
        <div id="helpContainer" class="overlayContainer" style="width:600px;top:50px;padding:10px 10px 10px 10px">
            <a id="close" class="closeButton" href="#" onclick="$('#helpContainer').remove();"></a>
            <h2>Using PhyloBrowse</h2>
            <h4>Tree visualization</h4>
            The tree can be displayed either as cladogram or as phylogram using the button on the top-right corner. This
            button will only be visible if branch lengths are provided in the newick tree file. If no branch lengths are
            provided, only the cladogram display is possible.
            <p/>
            When the phylogram mode is selected, the branch lengths will be displayed. The user can select whether to
            show or hide the branch length values, using the button that will appear next to the Cladogram/Phylogram
            switch button (top-right corner).
            Node support values, such as Bootstrap or Jackknife will be displayed on the tree, to the left of the
            corresponding node id.
            <p/>
            Each node in the tree is associated with a tooltip window. Clicking on a node will open a window with the
            following options:
            "Show gene list" - will freeze the node tooltip window for further inspection.
            "expand/collapse" - will collapse or expand that node (Users can use the Shift+Click shortcut as well).
            "close" - will close this tooltip.
            If a node is collapsed by the user (as opposed to a filter), the node will turn black and will not be
            expanded by any filters.

            <h4>Node filters</h4>
            You can use the “node filters” filter to hide or display branches of the tree that are relevant to your
            interests.
            The Filter Panel is located in the top part of the page, and its display can be controlled using the
            "Hide/Show Filters" button (top-right).
            The main filters are: (1) The "Annotation Filter", (2) The "Gene Filter" and (3) The "Filter by absolute PBS
            range", and are further explained below.
            These filters all work in conjunction - moving one will not reset any of the others. Nodes that pass the
            filter are highlighted in orange. Nodes that are enriched for a selected annotation term are highlighted in
            purple. Multiple annotation terms or genes can be selected simultaneously.
            The "Filter Information" window is updated as genes or annotation terms are selected. Use the "Clear Filter"
            buttons to clear your genes or annotation terms selection.
            <p/>
            <b>Shortcut: </b>In addition to the filters, you can manually collapse a node using a shift+click. The
            collapsed node will be colored in black.

            <h4>Annotation Filter</h4>
            This filter will contain all the functional annotations/processes that are either enriched, or associated
            with any of the included genes.
            Multiple annotations/processes can be selected. You can use the search box option or the upload annotation
            button, to upload annotation ids from file, one per line.
            By default all annotation terms represented by at least one gene in the matrix are shown in the list. The
            list of annotation terms can be filtered prior to their selection using the “Limit by p-value” slider.
            Annotation terms with a p-value are highlighted in green in the list.

            <h4>Gene Filter</h4>
            This filter will contain all the gene ids that have been provided in the node info file.
            Multiple genes can be selected. You can use the search box option or the "Upload Genes" from file option
            (one gene id per line) to search and select genes of interest for filteration.

            <h4>Absolute value range filter</h4>
            This filter allows the user to highlight nodes containing genes with a measurable value within a certain
            range (e.g. dN/dS > 1, PBS >= 4, etc.).

            <h4>Show Annotation Terms/Node heatmap</h4>
            If any annotation terms are selected, the heatmap function can be used to show the node/Annotation
            connections. The heatmap will contain the highlighted nodes, and any of their enriched annotations.
            <p/>

            The grid block will be colored more intensely the more significant the p-value. Annotations that have no
            p-value will not be colored.

            <h4>Taxonomy classification</h4>
            The taxonomy classification feature allows selection of the taxonomic ranks displayed adjacent to the tree
            terminal taxa.
            Every unique taxonomic name is assigned a different color, providing a quick identification of any
            incongruence between tree topology and the taxonomic classification.
            To switch between taxonomic ranks, use the pulldown manu located on the top-right of the page.

            <h4>Union/Intersect/Difference</h4>
            This feature allows you to compare genes or enriched annotation/processes term lists between any two or more
            internal nodes.
            Press the "Start selecting" button and start clicking on the nodes of interest to select or deselect nodes
            for comparisons (selected nodes will be colored in light blue).
            A list of the selected nodes will appear below the "Union/Intersect/Difference" button. The lists of the
            union, intersect and difference are dynamically updated in the contextual bar displayed at the top of the
            tree topology. You can save to a file or copy to clipboard any of the resulted lists.
            You can switch between the comparison of genes and annotation terms. Press on the "Stop selecting" button to
            finish the node selection. You can hide or show the comparison results using the "Hide/Show
            Union/Intersect/Difference" button, and you can clear all selected nodes using the "Clear selected nodes"
            button.

            <h4>Saving results</h4>
            Node gene/annotation term lists can be saved using the save button within the node tooltip window.
            Union/Intersect/Difference gene/annotation term lists can be saved using the save button on top of each
            list.
            You can save the tree in a SVG image format using the "save/load" option.
            You can also save the filter settings for future reference, or to upload saved settings using the
            "save/load" option.
        </div>
    </script>

    <script id="createHelpContainerOld" type="text/template">
        <div id="helpContainer" class="overlayContainer" style="width:600px;left:0;padding:10px 10px 10px 10px">
            <a id="close" class="closeButton" href="#" onclick="overlay.removeHelpOverlay()"></a>
            <h2>Using PhyloBrowser</h2>
            <h4>SCALING THE TREE</h4> Clicking on a node in the tree will collapse or expand the node. If collapsed by
            the user
            (as opposed to a filter), the node will turn black and will not be expanded by any filters.

            <h4>FILTERS</h4> Users can filter the tree to hide or display branches that are relevant to their interests.
            The
            cladogram can be filtered by the gene, GO term, and PBS filters. These filters all work in conjunction -
            moving one
            will not reset any of the others. When filters are enabled the nodes that pass the filter and the path
            leading to
            them are highlighted in orange. Multiple GO terms or genes can be selected simultaneously.
            <p/>
            Some GO terms are significantly over-represented at one or more nodes and have a
            p-value. These nodes will show as hot pink when their over-represented GO terms are selected.
            <p/>
            By default all GO terms represented by at least one gene in the matrix are shown in the list.
            GO terms with a p-value are highlighted in green in the list, which can be narrowed to terms within a range
            of
            significance by using the p-value slider below it.

            <h4>USER LISTS</h4> Lists of GO terms and genes can also be uploaded for filtering. The files are formatted
            by
            returns, for example:
            <p/>
            for GO terms:
            <div style="margin-left:100px; margin-bottom: 20px">
                <code>
                    GO:0046509<br/>
                    GO:0006207<br/>
                </code>
            </div>
            for genes:
            <div style="margin-left:100px; margin-bottom: 20px">
                <code>
                    At1g01230<br/>
                    At1g01260<br/>
                    At1g01480<br/>
                </code>
            </div>
            <p/>

            <h2>Heatmap</h2>

            <p/>
            If any GO terms are selected, the heatmap function can be used to show the node/GO term connections. The
            grid block
            will be colored more intensely the more significant the p-value. GO terms that have no p-value will not be
            colored.
        </div>
    </script>
</head>

</html>